In [2]:
import pandas as pd

In [3]:
file_path = "..\Data_Files\suicide-lghc-indicator-21\suicide-lghc-indicator-21.csv"
suicide_raw = pd.read_csv(file_path)
suicide_df = pd.DataFrame(suicide_raw)

suicide_df

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,CALIFORNIA,2000,Sex,Female,682,17080000,3.993,4.067
1,Suicide,CALIFORNIA,2000,Sex,Male,2431,16920000,14.370,15.890
2,Suicide,CALIFORNIA,2000,Sex,Total,3113,34000000,9.156,9.564
3,Suicide,CALIFORNIA,2001,Sex,Female,685,17340000,3.950,4.005
4,Suicide,CALIFORNIA,2001,Sex,Male,2571,17170000,14.970,16.410
...,...,...,...,...,...,...,...,...,...
1399,Suicide,Butte,2015-2017,Sex,Total,128,676000,18.940,18.310
1400,Suicide,Santa Cruz,2015-2017,Sex,Total,136,829300,16.400,15.740
1401,Suicide,Sonoma,2015-2017,Sex,Total,205,1512000,13.550,12.190
1402,Suicide,Trinity,2015-2017,Sex,Total,16,40490,39.510,43.870
1403,Suicide,Sutter,2015-2017,Sex,Total,42,294800,14.250,13.870

# California

In [42]:
# Isolates all rows containing California.

cont_cali = suicide_df['Geography'] == 'CALIFORNIA'
suicide_cali = suicide_df[cont_cali]
suicide_cali = suicide_cali.reset_index()
suicide_cali = suicide_cali.drop(columns=['Indicator', 'index', 'Rate', 'Age Adjusted Rate'])

suicide_cali

      Geography       Year Strata Strata Name  Numerator  Denominator
0    CALIFORNIA       2000    Sex      Female        682     17080000
1    CALIFORNIA       2000    Sex        Male       2431     16920000
2    CALIFORNIA       2000    Sex       Total       3113     34000000
3    CALIFORNIA       2001    Sex      Female        685     17340000
4    CALIFORNIA       2001    Sex        Male       2571     17170000
..          ...        ...    ...         ...        ...          ...
109  CALIFORNIA  2012-2014    Sex        Male       9163     57270000
110  CALIFORNIA  2012-2014    Sex       Total      11870    115200000
111  CALIFORNIA  2015-2017    Sex      Female       2916     59330000
112  CALIFORNIA  2015-2017    Sex        Male       9642     58780000
113  CALIFORNIA  2015-2017    Sex       Total      12560    118100000

[114 rows x 6 columns]

## California - Sex

In [44]:
# Isolates california wide suicides by sex.

cali_bysex = suicide_cali['Strata'] == 'Sex'
suicide_cali_sex = suicide_cali[cali_bysex]
suicide_cali_sex = suicide_cali_sex.reset_index()
suicide_cali_sex = suicide_cali_sex.drop(columns=['index'])

suicide_cali_sex

     Geography       Year Strata Strata Name  Numerator  Denominator
0   CALIFORNIA       2000    Sex      Female        682     17080000
1   CALIFORNIA       2000    Sex        Male       2431     16920000
2   CALIFORNIA       2000    Sex       Total       3113     34000000
3   CALIFORNIA       2001    Sex      Female        685     17340000
4   CALIFORNIA       2001    Sex        Male       2571     17170000
..         ...        ...    ...         ...        ...          ...
67  CALIFORNIA  2012-2014    Sex        Male       9163     57270000
68  CALIFORNIA  2012-2014    Sex       Total      11870    115200000
69  CALIFORNIA  2015-2017    Sex      Female       2916     59330000
70  CALIFORNIA  2015-2017    Sex        Male       9642     58780000
71  CALIFORNIA  2015-2017    Sex       Total      12560    118100000

[72 rows x 6 columns]

## California - Race

In [45]:
# Isolates california wide suicides by race.

cali_byrace = suicide_cali['Strata'] == 'Race/Ethnicity'
suicide_cali_race = suicide_cali[cali_byrace]
suicide_cali_race = suicide_cali_race.reset_index()
suicide_cali_race = suicide_cali_race.drop(columns=['index'])

suicide_cali_race

     Geography       Year          Strata Strata Name  Numerator  Denominator
0   CALIFORNIA  2000-2002  Race/Ethnicity     AIAN-NH         41       531100
1   CALIFORNIA  2000-2002  Race/Ethnicity    Asian-NH        658     11980000
2   CALIFORNIA  2000-2002  Race/Ethnicity    Black-NH        430      6624000
3   CALIFORNIA  2000-2002  Race/Ethnicity        Hisp       1380     34400000
4   CALIFORNIA  2000-2002  Race/Ethnicity    Multi-NH         41      1964000
5   CALIFORNIA  2000-2002  Race/Ethnicity     NHPI-NH         26       342600
6   CALIFORNIA  2000-2002  Race/Ethnicity    White-NH       6990     47610000
7   CALIFORNIA  2003-2005  Race/Ethnicity     AIAN-NH         46       518900
8   CALIFORNIA  2003-2005  Race/Ethnicity    Asian-NH        719     12740000
9   CALIFORNIA  2003-2005  Race/Ethnicity    Black-NH        388      6673000
10  CALIFORNIA  2003-2005  Race/Ethnicity        Hisp       1563     37200000
11  CALIFORNIA  2003-2005  Race/Ethnicity    Multi-NH         88      2247000
12  CALIFORNIA  2003-2005  Race/Ethnicity     NHPI-NH         33       361100
13  CALIFORNIA  2003-2005  Race/Ethnicity    White-NH       7027     47380000
14  CALIFORNIA  2006-2008  Race/Ethnicity     AIAN-NH         47       510300
15  CALIFORNIA  2006-2008  Race/Ethnicity    Asian-NH        807     13420000
16  CALIFORNIA  2006-2008  Race/Ethnicity    Black-NH        432      6650000
17  CALIFORNIA  2006-2008  Race/Ethnicity        Hisp       1604     39550000
18  CALIFORNIA  2006-2008  Race/Ethnicity    Multi-NH        131      2477000
19  CALIFORNIA  2006-2008  Race/Ethnicity     NHPI-NH         30       376800
20  CALIFORNIA  2006-2008  Race/Ethnicity    White-NH       7349     46670000
21  CALIFORNIA  2009-2011  Race/Ethnicity     AIAN-NH         59       502900
22  CALIFORNIA  2009-2011  Race/Ethnicity    Asian-NH        935     14330000
23  CALIFORNIA  2009-2011  Race/Ethnicity    Black-NH        435      6606000
24  CALIFORNIA  2009-2011  Race/Ethnicity        Hisp       1857     42170000
25  CALIFORNIA  2009-2011  Race/Ethnicity    Multi-NH        175      2752000
26  CALIFORNIA  2009-2011  Race/Ethnicity     NHPI-NH         42       398900
27  CALIFORNIA  2009-2011  Race/Ethnicity    White-NH       7937     45330000
28  CALIFORNIA  2012-2014  Race/Ethnicity     AIAN-NH         60       512900
29  CALIFORNIA  2012-2014  Race/Ethnicity    Asian-NH        920     15060000
30  CALIFORNIA  2012-2014  Race/Ethnicity    Black-NH        428      6680000
31  CALIFORNIA  2012-2014  Race/Ethnicity        Hisp       1991     44310000
32  CALIFORNIA  2012-2014  Race/Ethnicity    Multi-NH        242      2993000
33  CALIFORNIA  2012-2014  Race/Ethnicity     NHPI-NH         41       418200
34  CALIFORNIA  2012-2014  Race/Ethnicity    White-NH       8154     45180000
35  CALIFORNIA  2015-2017  Race/Ethnicity     AIAN-NH         74       523600
36  CALIFORNIA  2015-2017  Race/Ethnicity    Asian-NH       1072     15730000
37  CALIFORNIA  2015-2017  Race/Ethnicity    Black-NH        456      6755000
38  CALIFORNIA  2015-2017  Race/Ethnicity        Hisp       2482     46350000
39  CALIFORNIA  2015-2017  Race/Ethnicity    Multi-NH        261      3204000
40  CALIFORNIA  2015-2017  Race/Ethnicity     NHPI-NH         40       435000
41  CALIFORNIA  2015-2017  Race/Ethnicity    White-NH       8139     45010000

In [46]:
cali_race_group = suicide_cali_race.groupby(['Year', 'Strata Name'])
cali_race_group.sum()

                       Numerator  Denominator
Year      Strata Name
2000-2002 AIAN-NH             41       531100
          Asian-NH           658     11980000
          Black-NH           430      6624000
          Hisp              1380     34400000
          Multi-NH            41      1964000
          NHPI-NH             26       342600
          White-NH          6990     47610000
2003-2005 AIAN-NH             46       518900
          Asian-NH           719     12740000
          Black-NH           388      6673000
          Hisp              1563     37200000
          Multi-NH            88      2247000
          NHPI-NH             33       361100
          White-NH          7027     47380000
2006-2008 AIAN-NH             47       510300
          Asian-NH           807     13420000
          Black-NH           432      6650000
          Hisp              1604     39550000
          Multi-NH           131      2477000
          NHPI-NH             30       376800
          White-NH          7349     46670000
2009-2011 AIAN-NH             59       502900
          Asian-NH           935     14330000
          Black-NH           435      6606000
          Hisp              1857     42170000
          Multi-NH           175      2752000
          NHPI-NH             42       398900
          White-NH          7937     45330000
2012-2014 AIAN-NH             60       512900
          Asian-NH           920     15060000
          Black-NH           428      6680000
          Hisp              1991     44310000
          Multi-NH           242      2993000
          NHPI-NH             41       418200
          White-NH          8154     45180000
2015-2017 AIAN-NH             74       523600
          Asian-NH          1072     15730000
          Black-NH           456      6755000
          Hisp              2482     46350000
          Multi-NH           261      3204000
          NHPI-NH             40       435000
          White-NH          8139     45010000

# All Counties

In [50]:
# Isolates all rows without California in 'Geography'.

all_counties = suicide_df['Geography'] != 'CALIFORNIA'
suicide_counties = suicide_df[all_counties]
suicide_counties = suicide_counties.reset_index()
suicide_counties = suicide_counties.drop(columns=['Indicator', 'index', 'Rate', 'Age Adjusted Rate'])

suicide_counties

,Geography,Year,Strata,Strata Name,Numerator,Denominator
0,Alameda,2000-2002,Race/Ethnicity,Asian-NH,47,970100
1,Alameda,2000-2002,Race/Ethnicity,Black-NH,34,622600
2,Alameda,2000-2002,Race/Ethnicity,Hisp,31,858900
3,Alameda,2000-2002,Race/Ethnicity,White-NH,234,1757000
4,Alameda,2003-2005,Race/Ethnicity,Asian-NH,46,1028000
...,...,...,...,...,...,...
1285,Butte,2015-2017,Sex,Total,128,676000
1286,Santa Cruz,2015-2017,Sex,Total,136,829300
1287,Sonoma,2015-2017,Sex,Total,205,1512000
1288,Trinity,2015-2017,Sex,Total,16,40490
1289,Sutter,2015-2017,Sex,Total,42,294800

## Counties - Sex

In [51]:
county_bysex = suicide_counties['Strata'] == 'Sex'
suicide_county_sex = suicide_counties[county_bysex]
suicide_county_sex = suicide_county_sex.reset_index()
suicide_county_sex = suicide_county_sex.drop(columns=['index'])

suicide_county_sex

         Geography       Year Strata Strata Name  Numerator  Denominator
0    San Francisco  2000-2002    Sex      Female         67      1153000
1        El Dorado  2000-2002    Sex      Female         13       242700
2           Fresno  2000-2002    Sex      Female         36      1222000
3             Kern  2000-2002    Sex      Female         32       991600
4        Riverside  2000-2002    Sex      Female        111      2444000
..             ...        ...    ...         ...        ...          ...
707          Butte  2015-2017    Sex       Total        128       676000
708     Santa Cruz  2015-2017    Sex       Total        136       829300
709         Sonoma  2015-2017    Sex       Total        205      1512000
710        Trinity  2015-2017    Sex       Total         16        40490
711         Sutter  2015-2017    Sex       Total         42       294800

[712 rows x 6 columns]

### Counties - Sex - "2000-2002"

In [52]:
count_sex_by00_02 = suicide_county_sex['Year'] == '2000-2002'
count_sex_00_02 = suicide_county_sex[count_sex_by00_02]
count_sex_00_02 = count_sex_00_02.reset_index()
count_sex_00_02 = count_sex_00_02.drop(columns=['index'])

count_sex_00_02

         Geography       Year Strata Strata Name  Numerator  Denominator
0    San Francisco  2000-2002    Sex      Female         67      1153000
1        El Dorado  2000-2002    Sex      Female         13       242700
2           Fresno  2000-2002    Sex      Female         36      1222000
3             Kern  2000-2002    Sex      Female         32       991600
4        Riverside  2000-2002    Sex      Female        111      2444000
..             ...        ...    ...         ...        ...          ...
106          Kings  2000-2002    Sex       Total         32       396900
107     Sacramento  2000-2002    Sex       Total        412      3790000
108      Del Norte  2000-2002    Sex       Total         19        82470
109       Imperial  2000-2002    Sex       Total         26       435100
110      San Diego  2000-2002    Sex       Total        955      8609000

[111 rows x 6 columns]

### Counties - Sex - "2003-2005"

In [53]:
count_sex_by03_05 = suicide_county_sex['Year'] == '2003-2005'
count_sex_03_05 = suicide_county_sex[count_sex_by03_05]
count_sex_03_05 = count_sex_03_05.reset_index()
count_sex_03_05 = count_sex_03_05.drop(columns=['index'])

count_sex_03_05

       Geography       Year Strata Strata Name  Numerator  Denominator
0        Ventura  2003-2005    Sex      Female         58      1196000
1         Solano  2003-2005    Sex      Female         18       613900
2          Marin  2003-2005    Sex      Female         31       375200
3    Los Angeles  2003-2005    Sex      Female        473     14910000
4         Orange  2003-2005    Sex      Female        190      4465000
..           ...        ...    ...         ...        ...          ...
112         Yolo  2003-2005    Sex       Total         41       555400
113     Tuolumne  2003-2005    Sex       Total         40       169300
114  San Joaquin  2003-2005    Sex       Total        137      1911000
115       Placer  2003-2005    Sex       Total        104       906100
116         Lake  2003-2005    Sex       Total         33       187700

[117 rows x 6 columns]

### Counties - Sex - "2006-2008"

In [54]:
count_sex_by06_08 = suicide_county_sex['Year'] == '2006-2008'
count_sex_06_08 = suicide_county_sex[count_sex_by06_08]
count_sex_06_08 = count_sex_06_08.reset_index()
count_sex_06_08 = count_sex_06_08.drop(columns=['index'])

count_sex_06_08

       Geography       Year Strata Strata Name  Numerator  Denominator
0       Humboldt  2006-2008    Sex      Female         26       199300
1    Santa Clara  2006-2008    Sex      Female        116      2587000
2           Kern  2006-2008    Sex      Female         47      1168000
3      El Dorado  2006-2008    Sex      Female         19       265600
4          Butte  2006-2008    Sex      Female         18       330000
..           ...        ...    ...         ...        ...          ...
113     Mariposa  2006-2008    Sex       Total         13        55010
114       Tulare  2006-2008    Sex       Total        111      1271000
115     Humboldt  2006-2008    Sex       Total         87       398100
116     Tuolumne  2006-2008    Sex       Total         38       168800
117         Yolo  2006-2008    Sex       Total         63       583300

[118 rows x 6 columns]

### Counties - Sex - "2009-2011"

In [55]:
count_sex_by09_11 = suicide_county_sex['Year'] == '2009-2011'
count_sex_09_11 = suicide_county_sex[count_sex_by09_11]
count_sex_09_11 = count_sex_09_11.reset_index()
count_sex_09_11 = count_sex_09_11.drop(columns=['index'])

count_sex_09_11

          Geography       Year Strata Strata Name  Numerator  Denominator
0            Orange  2009-2011    Sex      Female        207      4576000
1            Madera  2009-2011    Sex      Female         16       234000
2            Solano  2009-2011    Sex      Female         37       620600
3            Fresno  2009-2011    Sex      Female         58      1400000
4              Lake  2009-2011    Sex      Female         13        96680
..              ...        ...    ...         ...        ...          ...
120          Tehama  2009-2011    Sex       Total         33       190200
121          Solano  2009-2011    Sex       Total        161      1240000
122  San Bernardino  2009-2011    Sex       Total        637      6131000
123     Santa Clara  2009-2011    Sex       Total        451      5379000
124      Santa Cruz  2009-2011    Sex       Total        108       789400

[125 rows x 6 columns]

### Counties - Sex - "2012-2014"

In [56]:
count_sex_by12_14 = suicide_county_sex['Year'] == '2012-2014'
count_sex_12_14 = suicide_county_sex[count_sex_by12_14]
count_sex_12_14 = count_sex_12_14.reset_index()
count_sex_12_14 = count_sex_12_14.drop(columns=['index'])

count_sex_12_14

          Geography       Year Strata Strata Name  Numerator  Denominator
0    San Bernardino  2012-2014    Sex      Female        103      3159000
1            Merced  2012-2014    Sex      Female         18       394300
2         Mendocino  2012-2014    Sex      Female         13       132000
3            Nevada  2012-2014    Sex      Female         14       148700
4          Humboldt  2012-2014    Sex      Female         28       201500
..              ...        ...    ...         ...        ...          ...
114    Contra Costa  2012-2014    Sex       Total        318      3268000
115     Los Angeles  2012-2014    Sex       Total       2327     30170000
116          Solano  2012-2014    Sex       Total        149      1264000
117      Santa Cruz  2012-2014    Sex       Total        120       809800
118          Sonoma  2012-2014    Sex       Total        196      1482000

[119 rows x 6 columns]

### Counties - Sex - "2015-2017"

In [57]:
count_sex_by15_17 = suicide_county_sex['Year'] == '2015-2017'
count_sex_15_17 = suicide_county_sex[count_sex_by15_17]
count_sex_15_17 = count_sex_15_17.reset_index()
count_sex_15_17 = count_sex_15_17.drop(columns=['index'])

count_sex_15_17

          Geography       Year Strata Strata Name  Numerator  Denominator
0      Contra Costa  2015-2017    Sex      Female         87      1733000
1    San Bernardino  2015-2017    Sex      Female        150      3243000
2            Shasta  2015-2017    Sex      Female         31       272400
3          Humboldt  2015-2017    Sex      Female         26       203300
4            Merced  2015-2017    Sex      Female         22       405600
..              ...        ...    ...         ...        ...          ...
117           Butte  2015-2017    Sex       Total        128       676000
118      Santa Cruz  2015-2017    Sex       Total        136       829300
119          Sonoma  2015-2017    Sex       Total        205      1512000
120         Trinity  2015-2017    Sex       Total         16        40490
121          Sutter  2015-2017    Sex       Total         42       294800

[122 rows x 6 columns]

## Counties - Race

In [58]:
county_byrace = suicide_counties['Strata'] == 'Race/Ethnicity'
suicide_county_race = suicide_counties[county_byrace]
suicide_county_race = suicide_county_race.reset_index()
suicide_county_race = suicide_county_race.drop(columns=['index'])

suicide_county_race

    Geography       Year          Strata Strata Name  Numerator  Denominator
0     Alameda  2000-2002  Race/Ethnicity    Asian-NH         47       970100
1     Alameda  2000-2002  Race/Ethnicity    Black-NH         34       622600
2     Alameda  2000-2002  Race/Ethnicity        Hisp         31       858900
3     Alameda  2000-2002  Race/Ethnicity    White-NH        234      1757000
4     Alameda  2003-2005  Race/Ethnicity    Asian-NH         46      1028000
..        ...        ...             ...         ...        ...          ...
573      Yolo  2015-2017  Race/Ethnicity    White-NH         54       309100
574      Yuba  2006-2008  Race/Ethnicity    White-NH         35       128900
575      Yuba  2009-2011  Race/Ethnicity    White-NH         24       128200
576      Yuba  2012-2014  Race/Ethnicity    White-NH         27       129900
577      Yuba  2015-2017  Race/Ethnicity    White-NH         33       131500

[578 rows x 6 columns]

In [75]:
county_race_groupby = suicide_county_race.groupby(['Year', 'Geography', 'Strata Name'])
county_race_groupby.sum()

                                 Numerator  Denominator
Year      Geography Strata Name
2000-2002 Alameda   Asian-NH            47       970100
                    Black-NH            34       622600
                    Hisp                31       858900
                    White-NH           234      1757000
          Amador    White-NH            17        88520
...                                    ...          ...
2015-2017 Ventura   Hisp                39      1091000
                    White-NH           230      1191000
          Yolo      Hisp                16       203500
                    White-NH            54       309100
          Yuba      White-NH            33       131500

[578 rows x 2 columns]

### Counties - Race - "2000-2002"

In [60]:
count_race_by00_02 = suicide_county_race['Year'] == '2000-2002'
count_race_00_02 = suicide_county_race[count_race_by00_02]
count_race_00_02 = count_race_00_02.reset_index()
count_race_00_02 = count_race_00_02.drop(columns=['index'])

count_race_00_02

   Geography       Year          Strata Strata Name  Numerator  Denominator
0    Alameda  2000-2002  Race/Ethnicity    Asian-NH         47       970100
1    Alameda  2000-2002  Race/Ethnicity    Black-NH         34       622600
2    Alameda  2000-2002  Race/Ethnicity        Hisp         31       858900
3    Alameda  2000-2002  Race/Ethnicity    White-NH        234      1757000
4     Amador  2000-2002  Race/Ethnicity    White-NH         17        88520
..       ...        ...             ...         ...        ...          ...
83    Tulare  2000-2002  Race/Ethnicity    White-NH         56       456700
84  Tuolumne  2000-2002  Race/Ethnicity    White-NH         28       140600
85   Ventura  2000-2002  Race/Ethnicity        Hisp         35       799400
86   Ventura  2000-2002  Race/Ethnicity    White-NH        161      1281000
87      Yolo  2000-2002  Race/Ethnicity    White-NH         41       297900

[88 rows x 6 columns]

In [130]:
county_race_00_02_group = count_race_00_02.groupby(['Geography'])
totals_list = county_race_00_02_group['Numerator'].sum()
totals_list_df = pd.DataFrame(totals_list)
totals_list_df
test = totals_list_df.max()
race_max = test[0]

for index, row in totals_list_df.iterrows():
       if row["Numerator"] == race_max:
            print (index, row[0])

Los Angeles 2185

In [131]:
test = totals_list_df.min()
race_min = test[0]

for index, row in totals_list_df.iterrows():
       if row["Numerator"] == race_min:
            print (index, row[0])

Plumas 11

### Counties - Race - "2003-2005"

In [61]:
count_race_by03_05 = suicide_county_race['Year'] == '2003-2005'
count_race_03_05 = suicide_county_race[count_race_by03_05]
count_race_03_05 = count_race_03_05.reset_index()
count_race_03_05 = count_race_03_05.drop(columns=['index'])

count_race_03_05

   Geography       Year          Strata Strata Name  Numerator  Denominator
0    Alameda  2003-2005  Race/Ethnicity    Asian-NH         46      1028000
1    Alameda  2003-2005  Race/Ethnicity    Black-NH         36       596200
2    Alameda  2003-2005  Race/Ethnicity        Hisp         44       903100
3    Alameda  2003-2005  Race/Ethnicity    White-NH        213      1677000
4      Butte  2003-2005  Race/Ethnicity    White-NH        104       500500
..       ...        ...             ...         ...        ...          ...
83    Tulare  2003-2005  Race/Ethnicity    White-NH         58       455700
84  Tuolumne  2003-2005  Race/Ethnicity    White-NH         38       142200
85   Ventura  2003-2005  Race/Ethnicity        Hisp         37       865900
86   Ventura  2003-2005  Race/Ethnicity    White-NH        171      1276000
87      Yolo  2003-2005  Race/Ethnicity    White-NH         35       300100

[88 rows x 6 columns]

### Counties - Race - "2006-2008"

In [62]:
count_race_by06_08 = suicide_county_race['Year'] == '2006-2008'
count_race_06_08 = suicide_county_race[count_race_by06_08]
count_race_06_08 = count_race_06_08.reset_index()
count_race_06_08 = count_race_06_08.drop(columns=['index'])

count_race_06_08

   Geography       Year          Strata Strata Name  Numerator  Denominator
0    Alameda  2006-2008  Race/Ethnicity    Asian-NH         53      1093000
1    Alameda  2006-2008  Race/Ethnicity    Black-NH         30       576200
2    Alameda  2006-2008  Race/Ethnicity        Hisp         34       950000
3    Alameda  2006-2008  Race/Ethnicity    Multi-NH         14       154100
4    Alameda  2006-2008  Race/Ethnicity    White-NH        217      1613000
..       ...        ...             ...         ...        ...          ...
86    Tulare  2006-2008  Race/Ethnicity    White-NH         76       452200
87   Ventura  2006-2008  Race/Ethnicity        Hisp         42       922000
88   Ventura  2006-2008  Race/Ethnicity    White-NH        205      1246000
89      Yolo  2006-2008  Race/Ethnicity    White-NH         45       303900
90      Yuba  2006-2008  Race/Ethnicity    White-NH         35       128900

[91 rows x 6 columns]

### Counties - Race - "2009-2011"

In [63]:
count_race_by09_11 = suicide_county_race['Year'] == '2009-2011'
count_race_09_11 = suicide_county_race[count_race_by09_11]
count_race_09_11 = count_race_09_11.reset_index()
count_race_09_11 = count_race_09_11.drop(columns=['index'])

count_race_09_11

   Geography       Year          Strata Strata Name  Numerator  Denominator
0    Alameda  2009-2011  Race/Ethnicity    Asian-NH         59      1180000
1    Alameda  2009-2011  Race/Ethnicity    Black-NH         40       561000
2    Alameda  2009-2011  Race/Ethnicity        Hisp         57      1024000
3    Alameda  2009-2011  Race/Ethnicity    White-NH        242      1564000
4     Amador  2009-2011  Race/Ethnicity    White-NH         30        90840
..       ...        ...             ...         ...        ...          ...
92  Tuolumne  2009-2011  Race/Ethnicity    White-NH         37       136300
93   Ventura  2009-2011  Race/Ethnicity        Hisp         37       995700
94   Ventura  2009-2011  Race/Ethnicity    White-NH        230      1211000
95      Yolo  2009-2011  Race/Ethnicity    White-NH         34       303900
96      Yuba  2009-2011  Race/Ethnicity    White-NH         24       128200

[97 rows x 6 columns]

### Counties - Race - "2012-2014"

In [64]:
count_race_by12_14 = suicide_county_race['Year'] == '2012-2014'
count_race_12_14 = suicide_county_race[count_race_by12_14]
count_race_12_14 = count_race_12_14.reset_index()
count_race_12_14 = count_race_12_14.drop(columns=['index'])

count_race_12_14

    Geography       Year          Strata Strata Name  Numerator  Denominator
0     Alameda  2012-2014  Race/Ethnicity    Asian-NH         84      1259000
1     Alameda  2012-2014  Race/Ethnicity    Black-NH         35       564700
2     Alameda  2012-2014  Race/Ethnicity        Hisp         43      1087000
3     Alameda  2012-2014  Race/Ethnicity    White-NH        260      1579000
4      Amador  2012-2014  Race/Ethnicity    White-NH         33        88660
..        ...        ...             ...         ...        ...          ...
98    Ventura  2012-2014  Race/Ethnicity    Asian-NH         15       166600
99    Ventura  2012-2014  Race/Ethnicity        Hisp         49      1048000
100   Ventura  2012-2014  Race/Ethnicity    White-NH        220      1203000
101      Yolo  2012-2014  Race/Ethnicity    White-NH         39       306000
102      Yuba  2012-2014  Race/Ethnicity    White-NH         27       129900

[103 rows x 6 columns]

### Counties - Race - "2015-2017"

In [65]:
count_race_by15_17 = suicide_county_race['Year'] == '2015-2017'
count_race_15_17 = suicide_county_race[count_race_by15_17]
count_race_15_17 = count_race_15_17.reset_index()
count_race_15_17 = count_race_15_17.drop(columns=['index'])

count_race_15_17

    Geography       Year          Strata Strata Name  Numerator  Denominator
0     Alameda  2015-2017  Race/Ethnicity    Asian-NH         82      1338000
1     Alameda  2015-2017  Race/Ethnicity    Black-NH         41       567200
2     Alameda  2015-2017  Race/Ethnicity        Hisp         60      1145000
3     Alameda  2015-2017  Race/Ethnicity    White-NH        247      1589000
4       Butte  2015-2017  Race/Ethnicity    White-NH        112       500000
..        ...        ...             ...         ...        ...          ...
106   Ventura  2015-2017  Race/Ethnicity        Hisp         39      1091000
107   Ventura  2015-2017  Race/Ethnicity    White-NH        230      1191000
108      Yolo  2015-2017  Race/Ethnicity        Hisp         16       203500
109      Yolo  2015-2017  Race/Ethnicity    White-NH         54       309100
110      Yuba  2015-2017  Race/Ethnicity    White-NH         33       131500

[111 rows x 6 columns]