In [1]:
import pandas as pd

In [8]:
file_path = "..\Data_Files\suicide-lghc-indicator-21\suicide-lghc-indicator-21.csv"
suicide_raw = pd.read_csv(file_path)
suicide_df = pd.DataFrame(suicide_raw)
suicide_df

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,CALIFORNIA,2000,Sex,Female,682,17080000,3.993,4.067
1,Suicide,CALIFORNIA,2000,Sex,Male,2431,16920000,14.370,15.890
2,Suicide,CALIFORNIA,2000,Sex,Total,3113,34000000,9.156,9.564
3,Suicide,CALIFORNIA,2001,Sex,Female,685,17340000,3.950,4.005
4,Suicide,CALIFORNIA,2001,Sex,Male,2571,17170000,14.970,16.410
...,...,...,...,...,...,...,...,...,...
1399,Suicide,Butte,2015-2017,Sex,Total,128,676000,18.940,18.310
1400,Suicide,Santa Cruz,2015-2017,Sex,Total,136,829300,16.400,15.740
1401,Suicide,Sonoma,2015-2017,Sex,Total,205,1512000,13.550,12.190
1402,Suicide,Trinity,2015-2017,Sex,Total,16,40490,39.510,43.870
1403,Suicide,Sutter,2015-2017,Sex,Total,42,294800,14.250,13.870

# California

In [32]:
# Isolates all rows containing California.

cont_cali = suicide_df['Geography'] == 'CALIFORNIA'
suicide_cali = suicide_df[cont_cali]
suicide_cali = suicide_cali.reset_index()
suicide_cali = suicide_cali.drop(columns=['index'])
suicide_cali

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,CALIFORNIA,2000,Sex,Female,682,17080000,3.993,4.067
1,Suicide,CALIFORNIA,2000,Sex,Male,2431,16920000,14.370,15.890
2,Suicide,CALIFORNIA,2000,Sex,Total,3113,34000000,9.156,9.564
3,Suicide,CALIFORNIA,2001,Sex,Female,685,17340000,3.950,4.005
4,Suicide,CALIFORNIA,2001,Sex,Male,2571,17170000,14.970,16.410
...,...,...,...,...,...,...,...,...,...
109,Suicide,CALIFORNIA,2012-2014,Sex,Male,9163,57270000,16.000,16.090
110,Suicide,CALIFORNIA,2012-2014,Sex,Total,11870,115200000,10.310,10.050
111,Suicide,CALIFORNIA,2015-2017,Sex,Female,2916,59330000,4.915,4.681
112,Suicide,CALIFORNIA,2015-2017,Sex,Male,9642,58780000,16.400,16.200
113,Suicide,CALIFORNIA,2015-2017,Sex,Total,12560,118100000,10.630,10.260

## California - Sex

In [37]:
# Isolates california wide suicides by sex.

cali_bysex = suicide_cali['Strata'] == 'Sex'
suicide_cali_sex = suicide_cali[cali_bysex]
suicide_cali_sex = suicide_cali_sex.reset_index()
suicide_cali_sex = suicide_cali_sex.drop(columns=['index'])
suicide_cali_sex

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,CALIFORNIA,2000,Sex,Female,682,17080000,3.993,4.067
1,Suicide,CALIFORNIA,2000,Sex,Male,2431,16920000,14.370,15.890
2,Suicide,CALIFORNIA,2000,Sex,Total,3113,34000000,9.156,9.564
3,Suicide,CALIFORNIA,2001,Sex,Female,685,17340000,3.950,4.005
4,Suicide,CALIFORNIA,2001,Sex,Male,2571,17170000,14.970,16.410
...,...,...,...,...,...,...,...,...,...
67,Suicide,CALIFORNIA,2012-2014,Sex,Male,9163,57270000,16.000,16.090
68,Suicide,CALIFORNIA,2012-2014,Sex,Total,11870,115200000,10.310,10.050
69,Suicide,CALIFORNIA,2015-2017,Sex,Female,2916,59330000,4.915,4.681
70,Suicide,CALIFORNIA,2015-2017,Sex,Male,9642,58780000,16.400,16.200
71,Suicide,CALIFORNIA,2015-2017,Sex,Total,12560,118100000,10.630,10.260

## California - Race

In [36]:
# Isolates california wide suicides by race.

cali_byrace = suicide_cali['Strata'] == 'Race/Ethnicity'
suicide_cali_race = suicide_cali[cali_byrace]
suicide_cali_race = suicide_cali_race.reset_index()
suicide_cali_race = suicide_cali_race.drop(columns=['index'])
suicide_cali_race

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,AIAN-NH,41,531100,7.719,7.810
1,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,Asian-NH,658,11980000,5.493,5.585
2,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,Black-NH,430,6624000,6.491,6.656
3,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,Hisp,1380,34400000,4.012,4.684
4,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,Multi-NH,41,1964000,2.088,2.184
5,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,NHPI-NH,26,342600,7.590,7.165
6,Suicide,CALIFORNIA,2000-2002,Race/Ethnicity,White-NH,6990,47610000,14.680,13.300
7,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,AIAN-NH,46,518900,8.865,8.860
8,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,Asian-NH,719,12740000,5.642,5.564
9,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,Black-NH,388,6673000,5.814,5.864
10,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,Hisp,1563,37200000,4.202,4.814
11,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,Multi-NH,88,2247000,3.917,4.562
12,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,NHPI-NH,33,361100,9.139,10.120
13,Suicide,CALIFORNIA,2003-2005,Race/Ethnicity,White-NH,7027,47380000,14.830,13.300
14,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,AIAN-NH,47,510300,9.211,8.825
15,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,Asian-NH,807,13420000,6.013,5.814
16,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,Black-NH,432,6650000,6.496,6.369
17,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,Hisp,1604,39550000,4.055,4.562
18,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,Multi-NH,131,2477000,5.289,7.063
19,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,NHPI-NH,30,376800,7.961,8.064
20,Suicide,CALIFORNIA,2006-2008,Race/Ethnicity,White-NH,7349,46670000,15.750,13.770
21,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,AIAN-NH,59,502900,11.730,11.450
22,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,Asian-NH,935,14330000,6.523,6.094
23,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,Black-NH,435,6606000,6.584,6.414
24,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,Hisp,1857,42170000,4.404,4.745
25,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,Multi-NH,175,2752000,6.360,8.303
26,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,NHPI-NH,42,398900,10.530,9.709
27,Suicide,CALIFORNIA,2009-2011,Race/Ethnicity,White-NH,7937,45330000,17.510,15.020
28,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,AIAN-NH,60,512900,11.700,11.540
29,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,Asian-NH,920,15060000,6.108,5.722
30,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,Black-NH,428,6680000,6.407,6.193
31,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,Hisp,1991,44310000,4.494,4.713
32,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,Multi-NH,242,2993000,8.085,9.462
33,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,NHPI-NH,41,418200,9.804,9.832
34,Suicide,CALIFORNIA,2012-2014,Race/Ethnicity,White-NH,8154,45180000,18.050,15.430
35,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,AIAN-NH,74,523600,14.130,13.680
36,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,Asian-NH,1072,15730000,6.813,6.433
37,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,Black-NH,456,6755000,6.751,6.548
38,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,Hisp,2482,46350000,5.355,5.506
39,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,Multi-NH,261,3204000,8.146,9.573
40,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,NHPI-NH,40,435000,9.196,8.534
41,Suicide,CALIFORNIA,2015-2017,Race/Ethnicity,White-NH,8139,45010000,18.080,15.580

# All Counties

In [33]:
# Isolates all rows without California in 'Geography'.

all_counties = suicide_df['Geography'] != 'CALIFORNIA'
suicide_counties = suicide_df[all_counties]
suicide_counties = suicide_counties.reset_index()
suicide_counties = suicide_counties.drop(columns=['index'])
suicide_counties

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,Alameda,2000-2002,Race/Ethnicity,Asian-NH,47,970100,4.845,4.940
1,Suicide,Alameda,2000-2002,Race/Ethnicity,Black-NH,34,622600,5.461,5.596
2,Suicide,Alameda,2000-2002,Race/Ethnicity,Hisp,31,858900,3.609,4.775
3,Suicide,Alameda,2000-2002,Race/Ethnicity,White-NH,234,1757000,13.320,11.890
4,Suicide,Alameda,2003-2005,Race/Ethnicity,Asian-NH,46,1028000,4.473,4.353
...,...,...,...,...,...,...,...,...,...
1285,Suicide,Butte,2015-2017,Sex,Total,128,676000,18.940,18.310
1286,Suicide,Santa Cruz,2015-2017,Sex,Total,136,829300,16.400,15.740
1287,Suicide,Sonoma,2015-2017,Sex,Total,205,1512000,13.550,12.190
1288,Suicide,Trinity,2015-2017,Sex,Total,16,40490,39.510,43.870
1289,Suicide,Sutter,2015-2017,Sex,Total,42,294800,14.250,13.870

## Counties - Sex

In [38]:
county_bysex = suicide_counties['Strata'] == 'Sex'
suicide_county_sex = suicide_counties[county_bysex]
suicide_county_sex = suicide_county_sex.reset_index()
suicide_county_sex = suicide_county_sex.drop(columns=['index'])
suicide_county_sex

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,San Francisco,2000-2002,Sex,Female,67,1153000,5.809,4.898
1,Suicide,El Dorado,2000-2002,Sex,Female,13,242700,5.357,5.355
2,Suicide,Fresno,2000-2002,Sex,Female,36,1222000,2.946,3.158
3,Suicide,Kern,2000-2002,Sex,Female,32,991600,3.227,3.476
4,Suicide,Riverside,2000-2002,Sex,Female,111,2444000,4.542,4.754
...,...,...,...,...,...,...,...,...,...
707,Suicide,Butte,2015-2017,Sex,Total,128,676000,18.940,18.310
708,Suicide,Santa Cruz,2015-2017,Sex,Total,136,829300,16.400,15.740
709,Suicide,Sonoma,2015-2017,Sex,Total,205,1512000,13.550,12.190
710,Suicide,Trinity,2015-2017,Sex,Total,16,40490,39.510,43.870
711,Suicide,Sutter,2015-2017,Sex,Total,42,294800,14.250,13.870

## Counties - Race

In [39]:
county_byrace = suicide_counties['Strata'] == 'Race/Ethnicity'
suicide_county_race = suicide_counties[county_byrace]
suicide_county_race = suicide_county_race.reset_index()
suicide_county_race = suicide_county_race.drop(columns=['index'])
suicide_county_race

,Indicator,Geography,Year,Strata,Strata Name,Numerator,Denominator,Rate,Age Adjusted Rate
0,Suicide,Alameda,2000-2002,Race/Ethnicity,Asian-NH,47,970100,4.845,4.940
1,Suicide,Alameda,2000-2002,Race/Ethnicity,Black-NH,34,622600,5.461,5.596
2,Suicide,Alameda,2000-2002,Race/Ethnicity,Hisp,31,858900,3.609,4.775
3,Suicide,Alameda,2000-2002,Race/Ethnicity,White-NH,234,1757000,13.320,11.890
4,Suicide,Alameda,2003-2005,Race/Ethnicity,Asian-NH,46,1028000,4.473,4.353
...,...,...,...,...,...,...,...,...,...
573,Suicide,Yolo,2015-2017,Race/Ethnicity,White-NH,54,309100,17.470,15.910
574,Suicide,Yuba,2006-2008,Race/Ethnicity,White-NH,35,128900,27.150,25.060
575,Suicide,Yuba,2009-2011,Race/Ethnicity,White-NH,24,128200,18.720,17.630
576,Suicide,Yuba,2012-2014,Race/Ethnicity,White-NH,27,129900,20.780,19.950
577,Suicide,Yuba,2015-2017,Race/Ethnicity,White-NH,33,131500,25.100,23.100